    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <header>
        <h1>Coffee Shop</h1>
        <nav>
            <ul>
                <li><a href="/"><i class='bx  bx-home-alt-2'></i><p>Trang chủ</p></a></li>
                <li><a href="/products"><i class='bx  bx-store-alt-2'  ></i><p>Sản phẩm</p></a></li>
                <li><a href="/cart"><i class='bx  bx-cart'  ></i><p>Giỏ hàng</p></a></li>
                <li id="login-menu-item"><a href="/login"><i class='bx bx-user-hexagon'></i><p>Đăng nhập</p></a></li>
            </ul>
        </nav>
    </header>
    <script src="js/user.js"></script>