<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>Chào mừng đến với Rise of Coffee</h1>
        <p>Thưởng thức hương vị cà phê tinh tế trong không gian ấm áp</p>
        <a href="/products" class="btn">Khám phá Menu</a>
    </div>
</section>
<section class="products-new">
    <h2>Sản phẩm mới</h2>
    <div class="tabs">
        <button class="tab active" data-tab="coffee"><img src="/media/coffee.png">Coffee</button>
        <button class="tab" data-tab="tea"><img src="/media/tea.png">Tea</button>
        <button class="tab" data-tab="milktea"><img src="/media/milk.png">MilkTea</button>
        <button class="tab" data-tab="icecream"><img src="/media/cream.png">Cream</button>
    </div>
    <div class="tab-content active" id="coffee"><div class="product-list" id="coffee-list"></div></div>
    <div class="tab-content" id="tea"><div class="product-list" id="tea-list"></div></div>
    <div class="tab-content" id="milktea"><div class="product-list" id="milktea-list"></div></div>
    <div class="tab-content" id="icecream"><div class="product-list" id="icecream-list"></div></div>
</section>
<script src="/js/home.js"></script>
<script src="/js/user.js"></script>


