<section class="profile-container">
  <article class="profile-left">
    <i class='bx  bx-user-hexagon'  ></i> 
    <p id="username"></p>
    <p id="email"></p>
    <button id="logout-button">ฤฤng xuแบฅt</button>
    <h3>๐ฆ ฤฦกn hรng</h3>
    <ul id="order-list">
    </ul>
  </article>
  <article class="profile-right" id="order-detail">
    <h2>Chi tiแบฟt ฤฦกn hรng</h2>
    <img id="default-image" src="/media/loading.gif" alt="Loading..." />
  </article>
</section>
<script src="/js/user.js"></script>
<script src="/js/profile.js"></script>
<link rel="stylesheet" href="/css/profile.css">

